.footer{
    background-color: #fff;
    flex-direction: row; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
}
.footer-logo{
    order:0;
}

.logo-img{
    max-width:180px;
    max-height:180px;
    width: auto;
    height: auto;
}

.img-texto-contatos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}
.contatos-img{
    width: 28.98px;
    height: 30px;
}
.texto-contatos{
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    letter-spacing: -2%;
    font-weight: 400;
    padding-left: 5%; 
}
.footer-mapa{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    order:-1;
}
.footer-endereco{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.footer-localizacao{
    order: 1;
}
.localizacao-img{
    display: none;
}
.frase-logo{
    order: 2;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -2%;
    X: 91.77px;
    Y: 220px;
    width: 344.85px;
    height:52px;
}

.footer-logo-box {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frase-logo{
    text-align: center;
    font-weight: 300 italic;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    width: 100%;
}

.copyright{
    order:5;
    background-color: #D2E2DF;
    width:100%;
    height:5%;
    padding-top: 5px;
}

.texto-copyright{
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    padding-left: 8%;
    padding-right: 8%; 

}
.fundo-img{
    max-width:462.7px;
    max-height:142px;

}
.mapa-img{
    padding-top: 80%;
    max-width:20.37px;
    max-height:20.58px;
}

.frase-endereco{
    order: 2;
    width: 344.85px;
    height: 52px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    letter-spacing: -2%;
    padding-left: 2%;
}

.texto-endereco{
    display: none;
}

@media (orientation:portrait), (max-width: 1200px) {
    .footer{
        display: flex;
        flex-direction: row;
    }
    .footer-mapa{
        display: none;
    }
    .Copyright{
        order:5;
        background-color: #D2E2DF;
        width:100%;
        height:5%;
        line-height: 20px; 
    }
    .texto-copyright{
        font-size: 14px;
    }

    .localizacao-img{
        display: flex;
        width: 28.98px;
        height: 30px;

    }
    .texto-contatos{
        font-size: 14px;
        font-weight: 400;
    }
    .texto-endereco{
        display: flex;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: -3%;
        font-weight: 400;
        padding-left: 5%; 
        text-align: left;
    }
    .img-texto-contatos{
        padding-top:8;
        padding-left:4%;
    }
    .logo-img{
        align-items: center;
        max-width:115.53px;
        max-height:127px;
        width: auto;
        height: auto; 
    }
    .frase-logo{
        font-size: 14px;
    }
}