{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/Banner.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <script src="main.js"></script>
</head>
<body>
    <div class = "banner" id = Início>
        <div class = "navbar">
            <div class = "logomarca">
                <img src = "{% static 'imagens/Logo quadrada.png' %}" id = "logo">
                <span class = "style">Transformare</span>
                <span class = "style2">Jr.</span>
            </div>
            <div class = " menu">
                <ul>
                    <li><a href = "#Início">Ínicio</a></li>
                    <li><a href = "#Serviços">Serviços</a></li>
                    <li><a href = "#Sobre Nós">Sobre Nós</a></li>
                    <li><a href = "#Contato">Contato</a></li>
                </ul>
            </div>
        </div>
        <div class = "text"> Transformando o Governo e a Sociedade</div>
        <div class= "button_banner"><a href = "#Sobre Nós">Conheça-nos</a></div>
    </div>
</body>
</html>