{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transformare Jr.</title>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
</head>

<body>

    <!--BANNER-->

    <div class="banner" id="Início">
        <div class="navbar">
            <div class="logomarca">
                <img src="../../static/img/Logo quadrada.png" id="logo">
                <span class="style">Transformare</span>
                <span class="style2">Jr.</span>
            </div>
            <ul>
                <li>
                    <a href="#Início" class=" scroll color_text">Início</a>
                </li>
                <li>
                    <a href="#Servicos" class="scroll color_text">Serviços</a>
                </li>
                <li>
                    <a href="#SobreNos" class="scroll color_text">Sobre Nós</a>
                </li>
                <li>
                    <a href="#Contato" class="scroll color_text">Contato</a>
                </li>
            </ul>
        </div>
        <div class="text" id="text_banner"> Transformando o Governo e a Sociedade</div>
        <div class="button_banner">
            <a href="#SobreNos" class="scroll color_text">Conheça-nos</a>
        </div>
    </div>

    <!--SERVIÇOS-->

    <div id="Servicos">
        <h1 class="cabeçalho-seçao">Serviços</h1>
        <div class="serv-container">
            <!-- Assessoria ao Legislativo -->
            <div class="serv-box">
                <img class="serv-imagem" src="{% static 'img/ass-leg.png' %}">
                <h3 class="serv-titulo">Assessoria ao Legislativo</h3>
                <p class="serv-texto">Acompanhamento Parlamentar, Relações Governamentais e Participação Popular</p>
                <div class="serv-botao">
                    <a href="" data-modal="#modal" class="modal__trigger">
                        <p>Saiba Mais</p>
                    </a>
                </div>
            </div>
            <!-- Assessoria ao Executivo -->
            <div class="serv-box">
                <img class="serv-imagem" src="{% static 'img/ass-exec.png' %}">
                <h3 class="serv-titulo">Assessoria ao Executivo</h3>
                <p class="serv-texto">Elaboração de Políticas Públicas e Captação de Recursos</p>
                <div class="serv-botao">
                    <a href="" data-modal="#modal2" class="modal__trigger">
                        <p>Saiba Mais</p>
                    </a>
                </div>
            </div>
            <!-- Terceiro Setor -->
            <div class="serv-box">
                <img class="serv-imagem" src="{% static 'img/ter-setor.png' %}">
                <h3 class="serv-titulo">Terceiro Setor</h3>
                <p class="serv-texto">Apoio e desenvolvimento de Organizações da Sociedade Civil (OSCs)</p>
                <div class="serv-botao">
                    <a href="" data-modal="#modal3" class="modal__trigger">
                        <p>Saiba Mais</p>
                    </a>
                </div>
            </div>
            <!-- Serviços Personalizados: Mobile -->
            <div class="serv-box serv-pers-m">
                <img class="serv-imagem" src="{% static 'img/serv-pers.png' %}">
                <h3 class="serv-titulo">Serviços Personalizados</h3>
                <p class="serv-texto">Para demais serviços em consultoria política, governança criativa e administração pública consulte-nos.</p>
                <div class="serv-pers-mobile">
                    <a href="#Contato">
                        <p>Contate-nos</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- Serviços Personalizados: Desktop -->
        <div class="serv-pers-desktop">
            <a class="modal__trigger" data-modal="#modal4" href="">Serviços Personalizados</a>
        </div>
    </div>

    <!-- MODAIS -->

    <div id="modal" class="modal modal--align-top modal__bg" role="dialog" aria-hidden="true">
        <div class="modal__dialog">
            <div class="modal__content">
                <h1 class="titulo-modal">Assesoria ao Legislativo</h1>
                <p class="subtitulo-modal"> Regularização </p>
                <p class="texto-modal">Suporte e Assessoria no processo de regularização de entidades do terceiro setor, como Associações sem fins
                    lucrativos, OSCIPs, entre outros.</p>
                <p class="subtitulo-modal"> Captação de Recursos </p>
                <p class="texto-modal">Focando nas Parceria Público-Privada e mecanismos de incentivos fiscais, entre outros, propomos estruturar
                    e analisar projetos para viabilizar financeiramente, planejamento e busca de melhores portais e parceiros.
                </p>
                <p class="subtitulo-modal"> Diálogo entre Organização da Sociedade Civil e instituições do mercado</p>
                <p class="texto-modal">Focados na prestação de consultorias e mediação de conflitos entre os dois setores, buscando negociações
                    e pontos de concordância entre eles relacionado a algum projeto social.</p>
                <div class="modal-container">
                    <div class="botao-modal">
                        <a href="#Contato">
                            <p>Contate-nos</p>
                        </a>
                    </div>
                </div>
                <!-- modal close button -->
                <a href="" class="modal__close demo-close">
                    <svg class="" viewBox="0 0 24 24">
                        <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"
                        />
                        <path d="M0 0h24v24h-24z" fill="none" />
                    </svg>
                </a>

            </div>
        </div>
    </div>

    <div id="modal2" class="modal modal--align-top modal__bg" role="dialog" aria-hidden="true">
        <div class="modal__dialog">
            <div class="modal__content">
                <h1 class="titulo-modal">Assesoria ao Executivo</h1>
                <p class="subtitulo-modal"> Elaboração de Políticas Públicas </p>
                <p class="texto-modal">Identificar problemas e necessidades sociais, formular alternativas e estratégias em políticas públicas para
                    possíveis soluções, avaliar o sucesso e os problemas do processo, recomendando sua continuação ou encerramento.</p>
                <p class="subtitulo-modal"> Captação de Recursos </p>
                <p class="texto-modal">Por meio de portais do governo, SINCONV e editais, propomos formas de captação de recurso inteligentes para
                    Municípios. Além de fortalecer parcerias público privadas com um alocamento estruturado das finanças.</p>
                <div class="modal-container">
                    <div class="botao-modal">
                        <a href="#Contato">
                            <p>Contate-nos</p>
                        </a>
                    </div>
                </div>

                <!-- modal close button -->
                <a href="" class="modal__close demo-close">
                    <svg class="" viewBox="0 0 24 24">
                        <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"
                        />
                        <path d="M0 0h24v24h-24z" fill="none" />
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div id="modal3" class="modal modal--align-top modal__bg" role="dialog" aria-hidden="true">
        <div class="modal__dialog">
            <div class="modal__content">
                <h1 class="titulo-modal">Terceiro Setor</h1>
                <p class="subtitulo-modal"> Regularização </p>
                <p class="texto-modal">Suporte e Assessoria no processo de regularização de entidades do terceiro setor, como Associações sem fins
                    lucrativos, OSCIPs, entre outros.</p>
                <p class="subtitulo-modal"> Captação de Recursos </p>
                <p class="texto-modal">Focando nas Parceria Público-Privada e mecanismos de incentivos fiscais, entre outros, propomos estruturar
                    e analisar projetos para viabilizar financeiramente, planejamento e busca de melhores portais e parceiros.</p>
                <p class="subtitulo-modal"> Diálogo entre Organização da Sociedade Civil e instituições do mercado</p>
                <p class="texto-modal">Focados na prestação de consultorias e mediação de conflitos entre os dois setores, buscando negociações
                    e pontos de concordância entre eles relacionado a algum projeto social.</p>
                <p class="subtitulo-modal"> Assessoria para Projetos Sociais</p>
                <p class="texto-modal">Auxílio às Organizações da sociedade Civil na execução de projetos e na posterior prestação de contas, visando
                    solucionar possíveis problemas durante o processo e estabelecer uma comunicação eficiente com as necessidades
                    da população.</p>
                <div class="modal-container">
                    <div class="botao-modal">
                        <a href="#Contato">
                            <p>Contate-nos</p>
                        </a>
                    </div>
                </div>

                <!-- modal close button -->
                <a href="" class="modal__close demo-close">
                    <svg class="" viewBox="0 0 24 24">
                        <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"
                        />
                        <path d="M0 0h24v24h-24z" fill="none" />
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div id="modal4" class="modal modal--align-top modal__bg" role="dialog" aria-hidden="true">
        <div class="modal__dialog">
            <div class="modal__content">
                <h1 class="titulo-modal">Serviços Personalizados</h1>
                <p class="texto-modal">Para demais serviços em consultoria política, governança criativa e administração pública consulte-nos.</p>
                <div class="modal-container">
                    <div class="botao-modal">
                        <a href="#Contato">
                            <p>Contate-nos</p>
                        </a>
                    </div>
                </div>
                <!-- modal close button -->
                <a href="" class="modal__close demo-close">
                    <svg class="" viewBox="0 0 24 24">
                        <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"
                        />
                        <path d="M0 0h24v24h-24z" fill="none" />
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <!-- FRASE E SOBRE NÓS -->

    <div class="flex-container">
        <div class="sessao-frase-destacada">
            <div id="barra-verde"></div>
            <div class="quote">
                <div id="quote-mark">
                    <img src="../../static/img/quote.png" alt="quote" id="quote-mark-img">
                </div>
                <div id="frase-destacada">Pensar, empreender
                    <br> e transformar.</div>
            </div>
        </div>
        <div class="sessao-sobrenos" id="SobreNos">
            <h1 class="cabeçalho-seçao">Sobre Nós</h1>
            <p id="texto-sobrenos">
                Nós somos uma consultoria com soluções inovadoras, capacitações e treinamentos baseados em fundamentos de Governança Social
                para o Impacto Social. Para tal, investimos em ações que englobam e conectam a sociedade.
                <br>
                <br> A Transformare Jr é organizada por alunos do Curso de Ciências do Estado da Universidade Federal de Minas
                Gerais (UFMG), o qual criado no ano de 2009, foca em formar atores capazes de transformar e ampliar o diálogo
                das instituições do governo com a sociedade. </p>
            <div class="mvv">
                <div class="blocos-mvv" id="missao">
                    <div class="icones-mvv">
                        <img src="../../static/img/target.png" alt="missão" class="icones-mvv-img">
                    </div>
                    <h1 class="titulo-blocos-mvv">MISSÃO</h1>
                    <p class="texto-blocos-mvv">
                        {{missao}}
                    </p>
                </div>
                <div class="blocos-mvv" id="visao">
                    <div class="icones-mvv">
                        <img src="../../static/img/lighthouse.png" alt="visão" class="icones-mvv-img">
                    </div>
                    <h1 class="titulo-blocos-mvv">VISÃO</h1>
                    <p class="texto-blocos-mvv">
                        {{visao}}
                    </p>
                </div>
                <div class="blocos-mvv" id="valores">
                    <div class="icones-mvv">
                        <img src="../../static/img/badge.png" alt="valores" class="icones-mvv-img">
                    </div>
                    <h1 class="titulo-blocos-mvv">VALORES</h1>
                    <p class="texto-blocos-mvv">
                        {{valores}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--CONTATO-->

    <div class="back" id="Contato">
        <div class="cabeçalho-seçao">Contato</div>
        <form method="POST" class="formulario" autocomplete="off">
            <div class="container">
                <div class="form1">
                    <input class="user" type="text" name="nome" placeholder="Nome" id="nome">
                    <input class="user" type="text" name="email" placeholder="Email" id="email">
                    <input class="user" type="text" name="telefone" placeholder="Telefone" id="telefone">
                    <input class="user" type="text" name="conheceu" placeholder="Como conheceu a Transformare Jr.?" id="conheceu">
                </div>
                <div class="form2">
                    <input class="user2" type="text" name="assunto" placeholder="Assunto">
                    <textarea class="user3" type="text" name="mensagem" placeholder="Mensagem"></textarea>
                </div>
            </div>
            <div class="button_submit">
                <input class="botao" type="submit" value="Enviar">
            </div>
        </form>
    </div>

    <!--FOOTER-->

    <div class="footer">
        <div class="footer-mapa">
            <div class="mapa-interativo">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3750.96664554709!2d-43.938907285580875!3d-19.92581034332353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa699e686e23e61%3A0xfb45aeef3d8c0cd4!2sUFMG+Faculdade+de+Direito+e+Ci%C3%AAncias+do+Estado!5e0!3m2!1spt-BR!2sbr!4v1529284984301"
                    width="462" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="footer-endereco">
                <div class="footer-localizacao">
                    <img src="../../static/img/localizacao.png" alt="footer-localizacao" class="mapa-img"> </div>
                <div class="frase-endereco">
                    <p class="frase-endereco">Faculdade de Direito, Avenida João Pinheiro 100 - Centro, Belo Horizonte - MG, 30130-180</p>
                </div>
            </div>
        </div>
        <div class="footer-logo">
            <div class="footer-logo-box">
                <img src="../../static/img/TransformarJr.png" alt="logocentral" class="logo-img">
            </div>
            <div id="frase-logo">
                <p>Pensar, empreender e transformar</p>
            </div>
        </div>
        <div>
            <div class="img-texto-contatos">
                <img src="../../static/img/medium.png" alt="medium" class="contatos-img">
                <p class="texto-contatos"> medium.com/transformareJr</p>
            </div>
            <div class="img-texto-contatos">
                <img src="../../static/img/instagram.png" alt="instagram" class="contatos-img">
                <p class="texto-contatos"> @transformarejunior</p>
            </div>

            <div class="img-texto-contatos">
                <img src="../../static/img/facebook.png" alt="facebook" class="contatos-img">
                <p class="texto-contatos"> facebook.com/TransformareJunior</p>
            </div>

            <div class="img-texto-contatos">
                <img src="../../static/img/email.png" alt="email" class="contatos-img">
                <p class="texto-contatos">{{email}}</p>
            </div>

            <div class="img-texto-contatos">
                <img src="../../static/img/telefone.png" alt="telefone" class="contatos-img">
                <p class="texto-contatos">{{telefone}}</p>
            </div>
            <div class="img-texto-contatos">
                <img src="../../static/img/localizacao.png" alt="telefone" class="localizacao-img">
                <p class="texto-endereco"> Faculdade de Direito, Avenida João Pinheiro 100 - Centro, Belo Horizonte - MG, 30130-180</p>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="texto-copyright">
            <p>Copyright © 2018 CITi</p>
        </div>
    </div>

    </div>

    <!-- SLICK/CARROSSEL -->

    <script type="text/javascript" src="{% static 'slick/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'slick/jquery-migrate-1.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>