{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transformare Jr.</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
</head>

<body>
        <!--SEÇÃO DE CONTATO-->
        <div class= "back">
                <div class="text">Contato</div>
                <form class="formulario" autocomplete="off">
                        <div class="container">
                            <div class="form1">
                                <input class="user" type="text" name="nome" placeholder="Nome" id = "nome">
                                <input class="user" type="text" name="email" placeholder="Email" id="email">
                                <input class="user" type="text" name="telefone" placeholder="Telefone" id="telefone">
                                <input class="user" type="text" name="conheceu" placeholder="Como conheceu a TransformareJr.?" id="conheceu">
                            </div>
                            <div class="form2">
                                <input class="user2" type="text" name="assunto" placeholder="Assunto">
                                <textarea class="user3" type="text" name="mensagem" placeholder="Mensagem"></textarea>
                            </div>
                        </div>
                        <div class="button_submit">
                            <input class="botao" type="submit">
                        </div>
                </form>
            </div>        
</body>

</html>
    <script src="{% static "js/index.js" %}"></script>
</body>

</html>